<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Audio {{ file }}</title>
  <style>
    html, body { margin: 0px; padding: 0px; height: 100%; overflow: hidden; }
    body { font-family: sans-serif; text-align: center; }
    h1 { font-size: 1em; margin: 0px; }
    p { margin: 2px; }
    audio { max-width: 90%; margin: 0px auto; display: block; }
  </style>
</head>
<body>
  <h1>Audio {{ file }}</h1>
  <p><button onclick="history.back()">Zurück zum Verzeichnis</button></p>
  {% if mime.startswith('audio/') %}
    <audio controls>
      <source src="{{ file }}" type="{{ mime }}">
      Ihr Browser unterstützt dieses Audio nicht.
    </audio>
  {% endif %}
</body>
</html>
