<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Audio {{title}}</title>
  <style>
    html, body { margin: 0; padding: 0; height: 100%; }
    body { font-family: sans-serif; text-align: center; display: flex; flex-direction: column; align-items: center; }
	  main { width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; overflow: hidden; }
    h1 { font-size: 1em; margin: 0; }
    p { margin: 2px; }
    span { font-weight: bold; }
    #audio {
      pointer-events: none; /* verhindert Interaktion */
      opacity: 0.6;         /* optional: visuell "disabled" */
    }
    button:focus { background-color: #00ffff; }
    #darkOverlay { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: black; display: none; z-index: 9999; }
  </style>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <p>
      <button id="exit" onclick="exit()">Zurück zum Verzeichnis</button>
      <button id="play" onclick="togglePlay()">Abspielen</button>
      <button id="backward" onclick="backward()">Zurück</button>
      <span id="runtime">00:00</span> von <span id="duration">--:--</span> min
      <button id="forward" onclick="forward()">Vorwärts</button>
      <button id="full" onclick="setFullScreen()">Dunkelbild</button>
    </p>
  </header>
  <main>
    <audio id="audio">
    {% if source.startswith('http') %}
      <source src="{{source}}" type="{{mime}}">
    {% else %}
      <source src="/file?path={{source}}" type="{{mime}}">
    {% endif %}
    </audio>
  </main>
  <div id="darkOverlay"></div>
  <script>
    window.addEventListener("load", adjustHeight);
    window.addEventListener("resize", adjustHeight);
    document.addEventListener('fullscreenchange', fullScreenChanged);
    document.addEventListener('keydown', (event) => { keyDown(event); });
    
    const audio = document.getElementById("audio");
    audio.addEventListener('loadedmetadata', () => {
      document.getElementById('duration').textContent = formatTime(audio.duration);
    });
    audio.addEventListener('timeupdate', () => {
      document.getElementById('runtime').textContent = formatTime(audio.currentTime);
    });

    document.getElementById('play').focus();

    function formatTime(seconds) {
      const mins = Math.floor(seconds / 60);
      const secs = Math.floor(seconds % 60);
      return `${String(mins).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
    }

    function togglePlay() {
      const btn = document.getElementById("play");
      if (audio.paused) {
        audio.play();
        btn.innerText = "Anhalten"
      } else {
        audio.pause();
        btn.innerText = "Abspielen"
      }
      btn.focus();
    }

    function backward() {
      audio.currentTime = Math.max(0, audio.currentTime - 10);
      document.getElementById("backward").focus();
    }

    function forward() {
      audio.currentTime = Math.min(audio.duration, audio.currentTime + 10);
      document.getElementById("forward").focus();
    }

    function setFullScreen() {
      if (document.documentElement.requestFullscreen) {
        document.documentElement.requestFullscreen();
      } else {
        document.documentElement.webkitRequestFullscreen();
      } 
    }

    function exit() {
      const url = new URL('/folder', window.location.origin);
      url.searchParams.set('path', "{{folder}}");
      url.searchParams.set('focus', "{{file}}");
      window.location.href = url.toString().replace(/%2F/g, "/").replace(/\+/g, "%20");
    }

    function adjustHeight() {
      const h = window.innerHeight;
      document.body.style.height = h + "px";
    }

    function keyDown(event) {
      if (document.fullscreenElement) {
        event.preventDefault();
        if (event.key === 'ArrowRight') {
          forward();
        } else if (event.key === 'ArrowLeft') {
          backward();
        }
      } else {
        if (event.key == 'ArrowUp') {
          document.getElementById("full").focus();
        } else if (event.key == 'ArrowDown') {
          document.getElementById("exit").focus();
        }
      }
    }

    function fullScreenChanged() {
      if (document.fullscreenElement) {
        document.getElementById('darkOverlay').style.display = 'block';
      } else {
        document.getElementById('darkOverlay').style.display = 'none';
        document.getElementById('full').focus();
      }
    }
  </script>
</body>
</html>
