<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Bild {{title}}</title>
  <style>
    html, body { margin: 0; padding: 0; height: 100%; }
    body { font-family: sans-serif; text-align: center; display: flex; flex-direction: column; align-items: center; }
	  main { width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; overflow: hidden; }
    h1 { font-size: 1em; margin: 0; }
    p { margin: 2px; }
    span { font-weight: bold; }
    img { height:100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block; }
    button:focus { background-color: #00ffff; }
  </style>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <p>
      <button id="exit" onclick="exit()">Zurück zum Verzeichnis</button>
      <button id="full" onclick="setFullScreen()">Vollbild</button>
    </p>
  </header>
  <main>
    <img src="/file?path={{source}}" type="{{mime}}">
  </main>
  <script>
    window.addEventListener("load", adjustHeight);
    window.addEventListener("resize", adjustHeight);
    document.addEventListener('fullscreenchange', fullScreenChanged);
    document.addEventListener('keydown', (event) => { keyDown(event); });
    
    const img = new Image();
    img.onload = function() {
      document.querySelector('cover').style.backgroundImage = `url('${img.src}')`;
    };
    img.src = "/file?path={{cover}}";
    document.getElementById('full').focus();

    function setFullScreen() {
      if (document.documentElement.requestFullscreen) {
        document.documentElement.requestFullscreen();
      } else {
        document.documentElement.webkitRequestFullscreen();
      } 
    }

    function exit() {
      const url = new URL('/folder', window.location.origin);
      url.searchParams.set('path', "{{folder}}");
      url.searchParams.set('focus', "{{file}}");
      window.location.href = url.toString().replace(/%2F/g, "/").replace(/\+/g, "%20");
    }

    function adjustHeight() {
      const h = window.innerHeight;
      document.body.style.height = h + "px";
    }

    function keyDown(event) {
      if (!document.fullscreenElement) {
        if (event.key == 'ArrowUp') {
          document.getElementById("full").focus();
        } else if (event.key == 'ArrowDown') {
          document.getElementById("exit").focus();
        }
      }
    }

    function fullScreenChanged() {
      if (document.fullscreenElement) {
        document.querySelector('header').style.display = 'none';
      } else {
        document.querySelector('header').style.display = 'block';
        document.getElementById('full').focus();
      }
    }
  </script>
</body>
</html>
