<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Bilder {{title}}</title>
  <style>
    html, body { margin: 0; padding: 0; height: 100%; }
    body { font-family: sans-serif; display: flex; flex-direction: column; align-items: center; text-align: center; }
	  main { display: flex; flex: 1; align-items: center; overflow: hidden; }
    h1 { font-size: 1em; margin: 0; }
    p { margin: 2px; }
    span { font-weight: bold; }
    img { height:100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block; }
    button:focus { background-color: #00ffff; }
  </style>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <p>
      <button id="exit" onclick="exit()">Zurück zum Verzeichnis</button>
      <button id="previous" onclick="prevImage()">Vorheriges Bild</button>
      <span id="current">--</span> von <span id="total">--</span>
      <button id="next" onclick="nextImage()">Nächstes Bild</button>
      <button id="autoplay" onclick="toggleAutoplay()">Diashow starten</button>
      <input type="number" id="speed" value="3" min="1" max="10" step="1" onchange="speed()" readonly> s
      <button id="full" onclick="setFullScreen()">Vollbild</button>
    </p>
  </header>
  <main>
    <img id="foto">
  </main>

  {% include "scripts.html" %}

  <script>
    init();
    initDarkKeyDown(darkKeyDown);
    addNavigation('exit');
    addNavigation('previous');
    addNavigation('next');
    addNavigation('autoplay');
    addNavigation('speed');
    addNavigation('full');
    focus('next');

    const images = JSON.parse('{{images|tojson|safe}}');
    let current = 0;
    let autoplay = null;
    if (images.length > 0) {
      showImage(0);
    }

    function showImage(index) {
      current = (index + images.length) % images.length;
      document.getElementById("foto").src = "/file?path=" + images[current];
      document.getElementById("current").textContent = `${current + 1}`;
      document.getElementById("total").textContent = `${images.length}`;
    }

    function nextImage() {
      showImage(current + 1);
      if (autoplay === null) {
        focus('next');
      }
    }

    function prevImage() {
      showImage(current - 1);
      if (autoplay === null) {
        focus("previous");
      }
    }

    function toggleAutoplay() {
      const btn = document.getElementById('autoplay');
      if (autoplay) {
        clearInterval(autoplay);
        autoplay = null;
        btn.innerText = 'Diashow starten';
      } else {
        const speed = document.getElementById('speed');
        autoplay = setInterval(nextImage, parseInt(speed.value, 10) * 1000);
        btn.innerText = 'Diashow stoppen';
      }
      btn.focus();
    }

    function speed() {
      if (autoplay) {
        const speed = document.getElementById('speed');
        clearInterval(autoplay);
        autoplay = setInterval(nextImage, parseInt(speed.value, 10) * 1000);
        speed.focus();
      }
    }

    function darkKeyDown(event) {
      if (event.key === 'ArrowRight') {
        nextImage();
      } else if (event.key === 'ArrowLeft') {
        prevImage();
      }
    }
  </script>
</body>
</html>
