<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Diashow {{ dir }}</title>
  <style>
    html, body { margin: 0px; padding: 0px; height: 100%; overflow: hidden; }
    body { font-family: sans-serif; text-align: center; }
    h1 { font-size: 1em; margin: 0px; }
    p { margin: 2px; }
    img { max-width: 90%; max-height: 80vh; margin: 0px auto; display: block; }
  </style>
</head>
<body>
  <h1 id="header">Diashow {{ dir }}</h1>
  <p>
    <button onclick="history.back()">Zurück zum Verzeichnis</button>
    <button onclick="prevImage()">Zurück</button>
    <button onclick="nextImage()">Weiter</button>
    <button id="autoplay" onclick="toggleAutoplay()">Diashow starten</button>
    <input type="number" id="speed" value="3" min="1" max="10" step="1" onchange="speed()"></input> s
  </p>

  <img id="slideshow" src="{{ images[0] }}" alt="Slideshow Bild">

  <script>
    const img = document.getElementById("slideshow");
    const slides = JSON.parse('{{ images|tojson|safe }}');
    let current = 0;
    let autoplay = null;
    showImage(0);

    function showImage(index) {
      current = (index + slides.length) % slides.length;
      const header = document.getElementById("header");
      img.src = slides[current];
      header.textContent = `Diashow ${current} von ${slides.length - 1} : ${slides[current]}`;
    }

    function nextImage() {
      showImage(current + 1);
    }

    function prevImage() {
      showImage(current - 1);
    }

    function toggleAutoplay() {
      const btn = document.getElementById("autoplay");
      if (autoplay) {
        clearInterval(autoplay);
        btn.innerText = "Diashow starten"
        autoplay = null;
      } else {
        const speed = document.getElementById("speed");
        autoplay = setInterval(nextImage, parseInt(speed.value, 10) * 1000);
        btn.innerText = "Diashow stoppen"
      }
    }

    function speed() {
      if (autoplay) {
        const speed = document.getElementById("speed");
        clearInterval(autoplay);
        autoplay = setInterval(nextImage, parseInt(speed.value, 10) * 1000);
      }
    }
  </script>
</body>
</html>
