<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Video {{ file.split('/')[-1] }}</title>
  <style>
    body { font-family: sans-serif; text-align: center; margin: 20px; }
    h1 { font-size: 1em; margin: 2px 0px 5px 0px; }
    p { margin: 0px 0px 5px 0px; }
    video { max-width: 90%; max-height: 80vh; margin: 0px auto; display: block; }
  </style>
</head>
<body>
  <h1>Video {{ file }}</h1>
  <p><button onclick="history.back()">Zurück zum Verzeichnis</button>
  <button id="play" onclick="togglePlay()">Pause</button>
  Speed <input type="number" id="speed" value="1" min="1" max="4" step="1" onchange="speed()"></input>
  <button id="backward" onclick="backward()">Backward</button>
  <button id="forward" onclick="forward()">Forward</button>
  <button id="mute" onclick="toggleMute()">Unmute</button></p>
  {% if mime.startswith('video/') %}
    <video controls autoplay muted id="video">
      <source src="{{ file }}" type="{{ mime }}">
      Ihr Browser unterstützt dieses Video nicht.
    </video>
  {% endif %}

  <script>
    const video = document.getElementById("video");

    function togglePlay() {
      const btn = document.getElementById("play");
      if (video.paused) {
        video.play();
        btn.innerText = "Pause"
      } else {
        video.pause();
        btn.innerText = "Play"
      }
    }

    function speed() {
      const speed = document.getElementById("speed");
      video.playbackRate = parseFloat(speed.value);
    }

    function backward() {
      video.currentTime = Math.max(0, video.currentTime - 10);
    }

    function forward() {
      video.currentTime = Math.min(video.duration, video.currentTime + 10);
    }

    function toggleMute() {
      const btn = document.getElementById("mute");
      if (video.muted) {
        video.muted = false;
        btn.innerText = "Mute"
      } else {
        video.muted = true;
        btn.innerText = "Unmute"
      }
    }
  </script>
</body>
</html>
