<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Video {{ title }}</title>
  <style>
    html, body { margin: 0px; padding: 0px; height: 100vh; }
    body { font-family: sans-serif; text-align: center; display: flex; flex-direction: column; align-items: center; }
	  main { flex: 1; display: flex; align-items: center; }
    h1 { font-size: 1em; margin: 0px; }
    p { margin: 2px; }
    video { width: 100%; height: 100%; object-fit: contain; }
  </style>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
  <header>
    <h1>Video {{ title }}</h1>
    <p><button onclick="history.back()">Zurück zum Verzeichnis</button>
    <button id="play" onclick="togglePlay()">Play</button>
    <button id="mute" onclick="toggleMute()">Mute</button>
    <button id="backward" onclick="backward()">Backward</button>
    <button id="forward" onclick="forward()">Forward</button>
    Speed <input type="number" id="speed" value="1" min="0.5" max="4" step="0.5" onchange="speed()">
    <span id="runtime">00:00</span>/<span id="duration">--:--</span></p>
  </header>
  <main>
    <video id="video"></video>
  </main>
  <script>
    document.getElementById('play').focus();
    const video = document.getElementById("video");
    const videoSource = "{{ source }}";
    if (Hls.isSupported()) {
      const hls = new Hls();
      hls.loadSource(videoSource);
      hls.attachMedia(video);
      video.textTracks.addEventListener('addtrack', () => {
        for (let i = 0; i < video.textTracks.length; i++) {
          video.textTracks[i].mode = 'disabled';
        }
      });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = videoSource;
    } else {
      console.error('Dein Browser unterstützt HLS nicht.');
    }
    video.addEventListener('loadedmetadata', () => {
      document.getElementById('duration').textContent = formatTime(video.duration);
    });
    video.addEventListener('timeupdate', () => {
      document.getElementById('runtime').textContent = formatTime(video.currentTime);
    });

    function formatTime(seconds) {
      const mins = Math.floor(seconds / 60);
      const secs = Math.floor(seconds % 60);
      return `${String(mins).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
    }

    function togglePlay() {
      const btn = document.getElementById("play");
      if (video.paused) {
        video.play();
        btn.innerText = "Pause"
      } else {
        video.pause();
        btn.innerText = "Play"
      }
    }

    function toggleMute() {
      const btn = document.getElementById("mute");
      if (video.muted) {
        video.muted = false;
        btn.innerText = "Mute"
      } else {
        video.muted = true;
        btn.innerText = "Unmute"
      }
    }

    function speed() {
      const speed = document.getElementById("speed");
      video.playbackRate = parseFloat(speed.value);
    }

    function backward() {
      video.currentTime = Math.max(0, video.currentTime - 10);
    }

    function forward() {
      video.currentTime = Math.min(video.duration, video.currentTime + 10);
    }
  </script>
</body>
</html>
