<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Video {{ title }}</title>
  <style>
    html, body { margin: 0px; padding: 0px; height: 100%; overflow: hidden; }
    body { font-family: sans-serif; text-align: center; }
    h1 { font-size: 1em; margin: 0px; }
    p { margin: 2px; }
    video { width: 100%; max-height: 80vh; aspect-ratio: 16 / 9; margin: 0px auto; display: block; object-fit: contain; }
  </style>
</head>
<body>
  <h1>Video {{ title }}</h1>
  <p><button onclick="history.back()">Zurück zum Verzeichnis</button>
  <button id="play" onclick="togglePlay()" disabled>Pause</button>
  <button id="mute" onclick="toggleMute()" disabled>Unmute</button>
  <button id="backward" onclick="backward()" disabled>Backward</button>
  <button id="forward" onclick="forward()" disabled>Forward</button>
  Speed <input type="number" id="speed" value="1" min="0.5" max="2" step="0.5" onchange="speed()" disabled>
  <span id="runtime">00:00</span>/<span id="duration">--:--</span></p>
  <iframe id="youtube-frame" width="640" height="390" frameborder="0" tabindex="0" allow="autoplay"></iframe>

  <script>
    var height = 0.8 * window.innerHeight;
    var width = height * 1.777;
    if (width > window.innerWidth) {
      width = window.innerWidth;
      height = width / 1.777;
    }
    const iframe = document.getElementById('youtube-frame');
    iframe.height = height + "px";
    iframe.width = width + "px";
    iframe.src = "https://www.youtube.com/embed/{{ video }}?enablejsapi=1&controls=0&rel=0&mute=1&autoplay=1&mute=1"

    // This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // This function creates a YouTube player after the API code is loaded.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('youtube-frame', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange,
        }
      });
    }

    function onPlayerReady(event) {
      event.target.mute();
      document.getElementById("youtube-frame").focus();
      setInterval(updateRuntime, 1000);
    }

    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING) {
        document.getElementById("play").disabled = false;
        document.getElementById("mute").disabled = false;
        document.getElementById("backward").disabled = false;
        document.getElementById("forward").disabled = false;
        document.getElementById("number").disabled = false;
        document.getElementById("mute").focus();
      }
    }

	  function togglePlay() {
      const btn = document.getElementById("play");
      if (btn.innerText != 'Play' && btn.innerText != 'Pause') return;
      btn.innerText = "---";
      const state = player.getPlayerState();
      if (state == 2 || state == 5) {
        player.playVideo();
        document.getElementById("mute").disabled = false;
      } else if (state == 1) {
        player.pauseVideo();
      }
    }

    function toggleMute() {
      const btn = document.getElementById("mute");
      if (btn.innerText != 'Mute' && btn.innerText != 'Unmute') return;
      btn.innerText = "---";
      const state = player.getPlayerState();
      document.getElementById("youtube-frame").focus();
      if (player.isMuted()) {
        player.unMute();
      } else {
        player.mute();
      }
      if (state == 1) {
        player.playVideo();
      }
      btn.focus();
    }
	
    function speed() {
      const speed = document.getElementById("speed");
      player.setPlaybackRate(parseFloat(speed.value));
    }

    function backward() {
	    const currentTime = player.getCurrentTime();
	    player.seekTo(Math.max(0, currentTime - 10));
    }

    function forward() {
	    const currentTime = player.getCurrentTime();
	    const duration = player.getDuration();
	    player.seekTo(Math.min(duration, currentTime + 10));
    }

    function updateRuntime() {
      const state = player.getPlayerState();
      const currentTime = player.getCurrentTime();
      const duration = player.getDuration();
      if (player.isMuted()) {
        document.getElementById('mute').innerText = "Unmute";
      } else {
        document.getElementById('mute').innerText = "Mute";
      }
      if (state == 1) {
        document.getElementById('play').innerText = "Pause";
      } else if (state == 2 || state == 5) {
        document.getElementById('play').innerText = "Play";
      }
      document.getElementById('runtime').textContent = formatTime(currentTime);
      document.getElementById('duration').textContent = formatTime(duration);
    }
	
    function formatTime(seconds) {
      const mins = Math.floor(seconds / 60);
      const secs = Math.floor(seconds % 60);
      return `${String(mins).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
    }
  </script>
</body>
</html>
